In [130]:
import brawlstats
import pandas as pd
import sqlite3

In [94]:
client = brawlstats.Client("eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6ImU3NjQ5Zjc2LTI3YWUtNDIyZi04MjU2LWM0NWNmNTM1ZjY5MCIsImlhdCI6MTc1MDg4MTQ5MCwic3ViIjoiZGV2ZWxvcGVyL2I4NWJhMDJjLTMwYzYtNDExZi02MmEzLTQ2MzMzZGJjOTVkNCIsInNjb3BlcyI6WyJicmF3bHN0YXJzIl0sImxpbWl0cyI6W3sidGllciI6ImRldmVsb3Blci9zaWx2ZXIiLCJ0eXBlIjoidGhyb3R0bGluZyJ9LHsiY2lkcnMiOlsiMTc0Ljk1LjE3MS4xMTIiLCIxMzguNTEuNzQuMTAyIl0sInR5cGUiOiJjbGllbnQifV19.SQ6GMO4QWTwfMozfXoOZnhdpmteewgo2RC8Oyl9jsggbRQDkjkcPn7w1U_ULjSy2f0zMxgwao5Etl4CM8Wp23w")

In [145]:
conn = sqlite3.connect("battle_dataset.db")
c = conn.cursor()

In [146]:
c.execute("""CREATE TABLE IF NOT EXISTS battles (
  battle_id INTEGER PRIMARY KEY,
  my_team TEXT,
  opp_team TEXT,
  victory INTEGER,
  map TEXT,
  mode TEXT
)
""")
conn.commit()

In [147]:
def get_battle_info(tag):
    battle_log = client.get_battle_logs(tag)
    return battle_log

Ranked battles will have `battle_type = soloRanked`

In [148]:
def make_dataset(battle_log):
    rows = []
    brawlers = {}
    for i in range(len(battle_log)):
        event, battle = battle_log[i]['event'], battle_log[i]['battle']
        battle_mode = battle['mode'] if battle['mode'] != 'unknown' else None
        if not battle_mode: continue
        
        battle_mode = battle_mode.lower()
        battle_map = event['map']
        if not battle_map: continue

        battle_map = battle_map.lower()
        battle_type = battle['type'].lower()
        if not battle_type == 'soloranked': continue

        battle_res = 1 if battle['result'] == 'victory' else 0

        my_team_brawlers = []
        opp_team_brawlers = []
        
        for player in battle['teams'][0]:
            my_team_brawlers.append( player['brawler']['name'] )
            brawlers[int(player['brawler']['id']) - 16000000] = player['brawler']['name']
        
        for player in battle['teams'][1]:
            opp_team_brawlers.append( player['brawler']['name'] )
            brawlers[int(player['brawler']['id']) - 16000000] = player['brawler']['name']

        for player in battle['teams'][1]:
            if player['name'].lower() == 'skibidirizzler':
                my_team_brawlers, opp_team_brawlers = opp_team_brawlers, my_team_brawlers

        rows.append({
            "id" : event["id"],
            "my_team" : my_team_brawlers,
            "opp_team" : opp_team_brawlers,
            "victory" : battle_res,
            "map" : battle_map,
            "mode" : battle_mode
        })

    return brawlers, pd.DataFrame(rows)

### Get Results from Top Players (and Me)

In [149]:
MY_TAG = "GCVCG0P29"
SUPERLAB = "GRVL8ULV"
SECONDBEST = "PVQ9QUY"
TENSAI = "9ULYPV8"
CRYINGMAN = "80QUGYC"
SNAKETHUG = "CGQCYJGY"
GENIE = "829LJ28CU"

In [150]:
dataset = pd.DataFrame()

for tag in [MY_TAG, SUPERLAB, SECONDBEST, TENSAI, CRYINGMAN, SNAKETHUG, GENIE]:
    battle_log = get_battle_info(tag)
    _, data = make_dataset(battle_log)
    dataset = pd.concat([dataset, data], ignore_index=True)

In [151]:
dataset.tail()

,id,my_team,opp_team,victory,map,mode
92,15000026,"[BO, DOUG, CHESTER]","[MAX, HANK, MEG]",0,pinhole punt,brawlball
93,15000024,"[CARL, HANK, JAE-YONG]","[MELODIE, STU, GUS]",0,backyard bowl,brawlball
94,15000024,"[CARL, HANK, JAE-YONG]","[MELODIE, STU, GUS]",0,backyard bowl,brawlball
95,15000072,"[BROCK, MELODIE, PIPER]","[LILY, BELLE, BO]",0,bridge too far,heist
96,15000072,"[BROCK, MELODIE, PIPER]","[LILY, BELLE, BO]",0,bridge too far,heist

Brawlstats only gets last 25, for soloRanked battles only this will be less. Hence we need to store this information into a database.

In [152]:
for i, row in dataset.iterrows():
    try: 
        c.execute(
            "INSERT INTO battles (battle_id, my_team, opp_team, victory, map, mode) VALUES (?, ?, ?, ?, ?, ?)",
            (row['id'], str(row['my_team']), str(row['opp_team']), row['victory'], str(row['map']), str(row['mode']))
        )
    except sqlite3.IntegrityError:
        print(f"Battle with id {row['id']} Already Exists")
        pass
print(f"Uploaded rows 1-{i+1} to database.")
conn.commit()

Battle with id 15000368 Already Exists
Battle with id 15000293 Already Exists
Battle with id 15000292 Already Exists
Battle with id 15000072 Already Exists
Battle with id 15000025 Already Exists
Battle with id 15000072 Already Exists
Battle with id 15000072 Already Exists
Battle with id 15000007 Already Exists
Battle with id 15000007 Already Exists
Battle with id 15000072 Already Exists
Battle with id 15000072 Already Exists
Battle with id 15000022 Already Exists
Battle with id 15000022 Already Exists
Battle with id 15000005 Already Exists
Battle with id 15000050 Already Exists
Battle with id 15000072 Already Exists
Battle with id 15000072 Already Exists
Battle with id 15000024 Already Exists
Battle with id 15000024 Already Exists
Battle with id 15000018 Already Exists
Battle with id 15000018 Already Exists
Battle with id 15000053 Already Exists
Battle with id 15000292 Already Exists
Battle with id 15000292 Already Exists
Battle with id 15000292 Already Exists
Battle with id 15000115 Already Exists
Battle with id 15000025 Already Exists
Battle with id 15000025 Already Exists
Battle with id 15000115 Already Exists
Battle with id 15000115 Already Exists
Battle with id 15000019 Already Exists
Battle with id 15000019 Already Exists
Battle with id 15000115 Already Exists
Battle with id 15000115 Already Exists
Battle with id 15000115 Already Exists
Battle with id 15000115 Already Exists
Battle with id 15000011 Already Exists
Battle with id 15000011 Already Exists
Battle with id 15000083 Already Exists
Battle with id 15000083 Already Exists
Battle with id 15000703 Already Exists
Battle with id 15000072 Already Exists
Battle with id 15000072 Already Exists
Battle with id 15000019 Already Exists
Battle with id 15000019 Already Exists
Battle with id 15000050 Already Exists
Battle with id 15000050 Already Exists
Battle with id 15000368 Already Exists
Battle with id 15000368 Already Exists
Battle with id 15000010 Already Exists
Battle with id 15000300 Already Exists
Battle with id 15000300 Already Exists
Battle with id 15000011 Already Exists
Battle with id 15000011 Already Exists
Battle with id 15000011 Already Exists
Battle with id 15000292 Already Exists
Battle with id 15000292 Already Exists
Battle with id 15000018 Already Exists
Battle with id 15000018 Already Exists
Battle with id 15000548 Already Exists
Battle with id 15000548 Already Exists
Battle with id 15000300 Already Exists
Battle with id 15000300 Already Exists
Battle with id 15000300 Already Exists
Battle with id 15000300 Already Exists
Battle with id 15000115 Already Exists
Battle with id 15000115 Already Exists
Battle with id 15000083 Already Exists
Battle with id 15000083 Already Exists
Battle with id 15000026 Already Exists
Battle with id 15000024 Already Exists
Battle with id 15000024 Already Exists
Battle with id 15000072 Already Exists
Battle with id 15000072 Already Exists
Uploaded rows 1-97 to database.

### Fetch ALL Data

In [137]:
c.execute("SELECT battle_id, my_team, opp_team, victory, map, mode FROM battles")
all_data = c.fetchall()

In [138]:
len(all_data)

26